.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.spinner {
  width: 20px;
  height: 20px;
  margin-right: 8px;
  border-radius: 50%;
  border: 2px solid #333;
  border-top-color: transparent;
  animation: spin 1s linear infinite;
}

.text {
  font-size: 24px;
  color: #333;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
