/* Form Container */
.formContainer {
  margin: 0 auto;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 400px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

/* Form Label */
.formLabel {
  width: 100%;
  margin-top: 30px;
  font-weight: bold;
  font-size: 18px;
}

/* Form Input */
.formInput {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
}

/* Form Button */
.formButton {
  margin-top: 15px;
  background-color: #4caf50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease-in-out;
}

.formButton:hover {
  background-color: #3e8e41;
}

.formButton:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #777;
  transform: translateY(4px);
}
