.auth {
  margin: 0 auto;
  margin-top: 70px;
  background-color: #f2f2f2;
  padding: 25px 20px;
  border-radius: 5px;
  max-width: 350px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.auth h2 {
  text-align: center;
}

.auth form {
  display: flex;
  flex-direction: column;
}

.auth .formControl {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.auth .formControl label {
  font-weight: bold;
}

.auth .formControl input {
  margin-top: 5px;
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #ffffff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  font-size: 16px;
}

.auth button {
  margin-top: 30px;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.auth button:hover {
  background-color: #0062cc;
}
